body{
    width: 88%;
    height: 100%;
    margin: auto !important;
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    direction: rtl;
    border-bottom: 1px solid #e5e5e5;
}

header .btn1{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;

}

header .btn1 .sing{
    width: 65px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #6c757d;
    background-color: white;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 14px !important;
    color: #6c757d;
    transition: 0.3s;
    margin: 0 5px;
    text-decoration: none;
}



header .btn1 .sing:hover{
    background-color: #6c757d;
    color: white;
    transition: 0.3s;
}

header .btn1 .search{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color:white ;
    transition: 0.3s;

}

header .btn1 .search:hover{
    background-color: #6c757d;
    transition: 0.3s;
}

header .btn1 .search:hover i{
    color: white;
    transition: 0.3s;

}

header .btn1 .search i{
    color:#6c757d;
}

.title{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#6c757d;
    cursor: pointer;
}

nav{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 15px;
}

nav a{
    width: 20%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #6c757d;
    max-width: 80px;
}

.box1{
    background-color:#212529 ;
    color: white;
     width: 100%;
    height: 300px;
    border-radius: 10px;
    display: flex;
    align-items: start;
    justify-content:  center;
    flex-direction: column;
    max-width: 800px;
}

.box1 .title{
    width:100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px;
    font-style: italic;
}

.box1 .text{
    width: 100%;
    height: 40%;
    color: white;
    padding: 20px;
    font-size: 18px;

}

.box1 span{
    width: 100%;
    height:20%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px;
    cursor: pointer;
    margin: 10px 0;
}

.box1 span h2{
 font-size: 20px;   
}

.box-main{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
    margin-top: 30px;
    padding: 0 30px;
    transition: 0.3s;
    max-width: 600px;
}

.box-main:hover{
    box-shadow: 1px 1px 20px rgb(99, 98, 98);
    transition: 0.3s;

}


.box-main .title{
width: 100%;
height: 30px;
display: flex;
align-items: end;
justify-content: start;
flex-direction: row;
}

.box-main .title #US{
    color: green;
}

.box-main .title #Desing{
    color:orange;
}

.box-main .title #Culture{
    color: indigo;
}

.box-main .title #Business{
    color: crimson;
}

.box-main .title strong{
    color:rgb(13, 110, 253);
    cursor: pointer;
    font-size: 18px;
}


.box-main .text{
width: 100%;
height: 50px;
display: flex;
align-items: end;
justify-content: start;
}

.box-main .text h3{
    color:black;
}


.box-main .time{
width: 100%;
height: 20px;
display: flex;
align-items: start;
justify-content: start;
}

.box-main .text2{
width: 100%;
height: 50px;
display: flex;
align-items: start;
justify-content: start;
padding-right: 50px;
color: black;
}

.box-main .text3{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-right: 50px;
    color: black;
}

.box-main .text3 u{
    color:rgb(13, 110, 253);
    font-size: 17px;
    cursor: pointer;
}

.end{
    margin-bottom: 50px;
}

.floting-box{
    width: 40px;
    height: 40px;
    position: fixed;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    border-radius: 50%;
}

.floting-box a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    background-color:rgb(13, 110, 253);
    box-shadow: 1px 1px 5px white;

}

.floting-box a i{
    font-size: 23px;
    color:white;
}

.floting-box a:hover i{
    transform: rotate(1turn);
    transition: 0.5s;
}

table{
    width: 100%;
   max-width: 500px;
    height: 150px;
    margin-bottom: 50px;
}

table td{
    padding: 8px !important;
}

table tr{
    border-bottom: 0.5px solid #6c757d;
}

footer{
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: end;
    justify-content: center;

}

footer .footer-box{
    
    width: 100%;
    height: 50px;
    border-top: 2px solid rgb(95, 94, 94);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

footer .footer-box .text{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    max-width: 200px;
}

footer .footer-box .icon{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;

}

footer .footer-box .icon a i{
    color: rgb(95, 94, 94);
    font-size: 20px;
    margin-right:10px ;
}

footer .footer-box .icon a i:hover{
    color: black;
}
